* {
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    /* background-color: antiquewhite; */
    /* margin: auto; */
    box-sizing: border-box;

}

.hero-btn {
    /* display: inline-block; */
    text-decoration: none;
    color: black;
    border: 2px solid rgb(8, 8, 8);
    padding: 12px 34px;
    font-size: 13px;
    background: pink;
    position: usticky;
    cursor: pointer;
    border-radius: 15px;
    font-size: 25px;
    font-weight: bold;


}

.cv {
    text-align: center;
    padding-top: 650px;
    padding-left: 1075px;
    font-size: 50px;
}

.hero-btn:hover {
    border: 5px solid silver;
    background: antiquewhite;
    transition: 1s;
}

.container ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: lightpink;
    display: block;
    margin: auto;
    transition: 0.7s;
}

li {
    display: inline;
    float: right;
}

li a {
    /* position: fixed; */
    font-size: 25px;
    display: block;
    padding: 8px;
    color: antiquewhite;
    display: block;
    color: #666;
    text-align: center;
    padding: 1px 0px;
    text-decoration: none;
}

.container ul li:hover::after {
    width: 100%;
}

.container h1 {
    color: pink;
    text-shadow: rgb(17, 17, 17) 2px 2px;
    text-transform: capitalize;
    font-size: 45px;
}

h1 {
    text-align: center;

}

h2 {
    color: red;
}

.header-profile {
    background-color: antiquewhite;
}

.header-profile {
    width: 100%;
    height: 100vh;
    background-image: url(/Photos/IMG_7490.JPG);
    background-position: center;
    background-size: cover;
    /* text-align: left; */

    /* background-repeat: no-repeat; */
    /* position: relative; */
}

.nav-links {
    height: 100px;
    width: 100%;
    /* padding: 0; */
    position: fixed;
    /* margin: -10;
    margin-left: -30px;
    margin-right: 200;
    margin-bottom: 35px; */
    /* background-color: antiquewhite; */
}

.header-profile h1 {
    text-align: left;
}

.header-text {
    text-align: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.container {
    padding: 8px 1.5%;

}

.container ul {
    font-size: 25px;
}

p {
    font-size: 18px;
}

nav ul li {
    margin: 35px 25px;
}

/* ---------------------second page on my profile page------------------------------- */
.about1 {
    width: 100%;
    padding: 100px 0px;
    background-color: beige;
}

.about1 img {
    height: auto;
    width: 450px;
    border-radius: 10%;
}

.about-text {
    width: 550px;
}

/* //-------------------------------About Me------------------------------------------------// */

.container-about {
    padding: 0;

}

.container-about ul {
    font-size: 25px;
}

.container-about ul li:hover::after {
    width: 100%;
}

.container-about ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: black;
    display: block;
    margin: auto;
    transition: 0.7s;
}

.container-about ul {
    font-size: 25px;
}

.container-about h1 {
    color: pink;
    text-shadow: rgb(17, 17, 17) 2px 2px;
    text-transform: capitalize;
    font-size: 45px;
}

.about {
    width: 100%;
    padding: 100px 0px;
    background-color: lightcyan;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2 {
    color: black;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;
}

.about-text h5 {
    color: blueviolet;
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 25px;
    text-transform: capitalize;
    text-align: center;
}

.about-text p {
    color: brown;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

/* .links {
    padding: 10px 10%;
}

.links ul {
    font-size: 25px;
    color: black;
}

.links li {
    text-align: center;

} */

.about-text .read-btn {
    text-align: center;
}

.read-btn {
    /* text-decoration: wavy; */
    text-align: center;
    background-color: antiquewhite;
    color: black;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.read-btn :hover{
 box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);;
}
.text-after{
    visibility: hidden;
}
.about img {
    height: auto;
    width: 450px;
    border-radius: 22%;
    margin-top: -550;

}

/* ------------------footer------------------------------ */

footer {
    text-align: center;
    padding: 5px;
    background-color: antiquewhite;
}

/* -------------------contact me--------------------------- */

.headercontact {
    background-color: beige;
}

/* --------------BLOG-------------------- */
/* .logohz img {
    height: auto;
    width: 450px;
} */

.bar-logo {
    display: grid;
    grid-template-columns: auto auto;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    width: 100%;
    height: 100px;
    background-color: lightgrey;
    text-align: center;
    
}
.bar-logo img{
    margin: -50;
    margin-right: -700px;
    margin-top:-100;
    padding-top: 25px;
    /* padding-left: 40px; */
    width: 12%;
    height: 100px;
    /* border-radius: 40%; */
}
.bar-logo li a{
    font-size: 15px;
}

.about-blog h5 {
    color: blue;
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 25px;
    text-transform: capitalize;
    text-align: center;
}

.about-blog {
    width: 550px;
}

/* ------------------------QA------------------------------------------------- */

.headerqa {
    background-color: beige;
}

.qa h3 {
    text-align: center;
}

.qa h2 {
    text-align: center;
}

.qa p {
    font-size: 25px;
}

.qa hr {
    width: 560px;
    text-align: left;
    margin: 0 auto;
    display: inline-block;

}

.qa {
    background-color: antiquewhite;
}

/* ----------------------------------------------------------- */
