@import url(colors.css);

* {
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    /* background-color: antiquewhite; */
    /* margin: auto; */
    box-sizing: border-box;
    left: 0;
    top: 0;

}

.hero-btn {
    /* display: inline-block; */
    text-decoration: none;
    color: black;
    /* border: 1px solid rgb(8, 8, 8); */
    padding: 12px 34px;
    font-size: 18px;
    background: #dae1e3;
    position: usticky;
    cursor: pointer;
    border-radius: 15px;
    font-weight: bold;


}

.cv {
    text-align: center;
    padding-top: 650px;
    padding-left: 1075px;
    font-size: 50px;
}

.hero-btn:hover {
    border: 2px solid silver;
    background: antiquewhite;
    transition: 1s;
}

.container ul li::after {
    content: "";
    width: 0%;
    height: 3px;
    background: darkgray;
    display: block;
    margin: auto;
    transition: 0.7s;
}

li {
    display: inline;
    float: right;
}

li a {
    /* position: fixed; */
    font-size: 25px;
    display: block;
    padding: 8px;
    color: antiquewhite;
    display: block;
    color: #666;
    text-align: center;
    padding: 1px 0px;
    text-decoration: none;
}

.container ul li:hover::after {
    width: 64%;
}

.container h1 {
    color: var(--titleText);
    text-shadow: rgb(248, 248, 255) 4px 2px;
    text-transform: capitalize;
    font-size: 35px;
}

h1 {
    text-align: center;

}

h2 {
    color: red;
}

.header-profile {
    background-color: antiquewhite;
}

.header-profile {
    width: 100%;
    height: 100vh;
    /* margin-top: 50px; */
    /* margin-bottom:500 ; */
    background-image: url(/Photos/IMG_7490.JPG);
    background-position: center;
    background-position-y: 5px;
    background-size: cover;

}

/*------------------------------- for the header of all pages ---------------------------------------------------*/
nav {
    position: fixed;
    background-image: linear-gradient(var(--primary), var(--secondary));
    align-items: center;
    justify-content: space-between;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

nav ul {
    float: right;
    position: fixed;
    top: 10px;
    /* top: 10;             made my text at the center of the header */
    width: 100%;
}

nav li {
    display: inline-block;
    list-style: none;
}

nav li a {
    font-size: 25px;
    padding: 0px 30px;
    text-decoration: none;
}

li {
    display: block;
    float: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.nav-links {
    height: 100px;
    width: 100%;
    position: fixed;

}

/* --------------------------for the header of all pages-till here -------------------------------------*/

.header-profile h1 {
    text-align: left;
}

.header-text {
    text-align: center;
}

.container {
    padding: 8px 1.5%;

}

.container ul {
    font-size: 25px;
}

p {
    font-size: 18px;
}

nav ul li {
    margin: 35px 25px;
}

/* ---------------------second page on my profile page------------------------------- */
.about1 {
    width: 100%;
    padding: 100px 0px;
    background-color: beige;
}

.about1 img {
    height: auto;
    width: 450px;
    border-radius: 10%;
}

.about-text {
    width: 550px;
}

/* .profile-text h2{
    font-size: 10;
    color: black;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;
        width: 550px;
} */

/* //-------------------------------About Me------------------------------------------------// */

.container-about {
    padding: 0;

}

.container-about ul {
    font-size: 25px;
}

.container-about ul li:hover::after {
    width: 64%;
}

.container-about ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: silver;
    display: block;
    margin: auto;
    transition: 0.7s;
}

.container-about ul {
    font-size: 25px;
}

.container-about h1 {
    color: var(--titleText);
    text-shadow: rgb(248, 248, 255) 4px 2px;
    text-transform: capitalize;
    font-size: 35px;

}

/* -----------------------------it was about header------------------------------------------------------ */

.about {
    width: 100%;
    padding: 100px 0px;
    background-color: rgb(227, 235, 242);
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2 {
    color: black;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;
    /* font-family: open; */
}

.about-text h5 {
    color: black;
    text-shadow: white 2px 1px;
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 25px;
    text-transform: capitalize;
    text-align: center;

}

.about-text p {
    color: black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    /* font-family; */

}

.about-text .read-btn {
    text-align: center;
}

.hidden-text {
    display: none;
}

.read-more {
    text-decoration: none;
    color: black;
    padding: 12px 34px;
    font-size: 12px;
    background: #bcc7c9;
    position: usticky;
    cursor: pointer;
    border-radius: 15px;
    font-weight: bold;

}

.read-more:hover {
    border: 2px solid rgb(2, 36, 41);
    background: #cedee2;
    transition: 1s;
}

.read-more:focus+.hidden-text {
    display: block;
}

.about img {
    height: auto;
    width: 450px;
    border-radius: 22%;
    margin-top: 50px;

}

/* ------------------footer------------------------------ */

footer {
    text-align: center;
    padding: 5px;
    background-color: antiquewhite;
}

.footer-dash {
    margin-top: 3%;
}
.blog-footer {
    margin-bottom: 100%;
}


/* -------------------contact me--------------------------- */

.headercontact {
    background-color: beige;
}

/* --------------BLOG-------------------- */
.container-blog {
    padding: 0;

}

.container-blog ul {
    font-size: 25px;
}

.container-blog ul li:hover::after {
    width: 64%;
}

.container-blog ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: silver;
    display: block;
    margin: auto;
    transition: 0.7s;
}

.container-blog ul {
    font-size: 25px;
}

.container-blog h1 {
    color: var(--titleText);
    text-shadow: rgb(248, 248, 255) 4px 2px;
    text-transform: capitalize;
    font-size: 35px;

}

.bar-logo {
    display: grid;
    grid-template-columns: auto auto;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    width: 100%;
    height: 100px;
    background-color: lightgrey;
    text-align: center;

}

.bar-logo img {
    margin: -50;
    margin-right: -835px;
    margin-top: -100;
    padding-top: 25px;
    width: 12%;
    height: 100px;

}

.bar-logo li a {
    font-size: 15px;
}

.about-blog h5 {
    color: blue;
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 25px;
    text-transform: capitalize;
    text-align: center;
}

.blog-img {
    text-align: center;
    margin-top: 10px;
}

.blog h1 {
    font-size: 25px;
    margin-top: 110px;
}

.blog-footer {
    margin-top: 25%;
}

/* .blog {
    width: 85%;
    margin: 75px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;

}
.card{
    background-color: #4CAF50;
    box-shadow: 0px 4px 8px 0px rgba(red, green, blue, alpha) ;
} */
.container-blog{
    background: linear-gradient(45deg, blue, silver);
    padding: 15px 9%;
    padding-bottom: 100px;
}
.container .heading-blog{
    text-align: center;
    padding-bottom: 15px;
    color: pink;
    text-shadow: 0 5px 10px black;
    font-size: 50px;

}
.container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minimax(270px, 1fr));
    gap: 15px;
}

/* ----------------------------------------QA------------------------------------------------- */

.qa h3 {
    text-align: center;
}

.qa h2 {
    text-align: center;
}

.qa p {
    font-size: 25px;
}

.qa hr {
    width: 560px;
    text-align: left;
    margin: 0 auto;
    display: inline-block;

}


/* ------------------------------------------------dashboard---------------------------------------- */
.filter {

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: .7;

}

table {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    /* height: 450px; */
    background: white;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 5px 12px 0 0;
    overflow: hidden;
    box-shadow: 0 12px 5px silver;
}

/* --------------------- */


.progress-bar {
    width: 0;
    height: 2%;
    background-color: #4CAF50;
    transition: width 0.3s ease-in-out;
    margin-top: 45%;
}

/* ------------------------- */
*/ .progress-bar {
    width: 0;
    /* Initial width is 0% */
    height: 100%;
    /* Height of the progress bar */
    background-color: #bae8e8;
    /* Color of the progress bar */
    transition: width 0.3s ease-in-out;
    /* Smooth transition animation */
    cursor: pointer;
}

.percentage-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
}

.percentage-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
}

th {
    /* background: lightpink; */
    color: black;
    text-transform: uppercase;
}

th,
td {
    padding: 12px 15px;
    /* border-bottom:1px solid #060606; */
}

tr:nth-child(odd) {
    background-color: rgb(225, 231, 236);
}