@import url(colors.css);
@media (max-width: 768px) {
    /* CSS rules for screens up to 768px wide */
}

@media (min-width: 769px) and (max-width: 1024px) {
    /* CSS rules for screens between 769px and 1024px wide */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    left: 0;
    top: 0;

}

.active {
    font-weight: bold;
    background-color: #e8d1ec;
    color: rgb(8, 8, 8);
    /* padding-top: 25px; */


}

li.active {
    background-color: #e8d1ec;
    color: rgb(8, 8, 8);
    border-radius: 25px;
}


.hero-btn {
    text-decoration: none;
    color: black;
    padding: 12px 34px;
    font-size: 20px;
    background: rgb(225, 184, 191);
    position: usticky;
    cursor: pointer;
    border-radius: 15px;
    font-weight: bold;
    border: none;


}

.cv {
    text-align: center;
    padding-top: 650px;
    padding-left: 1075px;
    font-size: 50px;
}

.hero-btn:hover {
    background: lightblue;
    transition: 1s;
}

li {
    display: inline;
    float: right;
}

li a {
    font-size: 25px;
    padding: 0.5%;
    color: antiquewhite;
    color: black;
    text-align: center;
    padding: 7px;
    text-decoration: none;
}


.container h1 {
    color: var(--titleText);
    text-shadow: rgb(248, 248, 255) 4px 2px;
    text-transform: capitalize;
    font-size: 35px;
    margin-left: 3%;
}

h1 {
    text-align: center;

}

h2 {
    color: black;
    text-shadow: 2px 2px #b9b5b5;
}

.header-profile {
    background-color: antiquewhite;
}

.header-profile {
    width: 100%;
    height: 100vh;
    background-image: url(/Photos/IMG_7490.JPG);
    background-position: center;
    background-position-y: 5px;
    background-size: cover;

}

/*------------------------------- for the header of all pages ---------------------------------------------------*/
nav {
    position: fixed;
    background-image: linear-gradient(var(--primary), var(--secondary));
    align-items: center;
    justify-content: space-between;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

li a:hover {
    background-color: #e8d1ec;
    color: rgb(8, 8, 8);
    border-radius: 25px;

}

nav ul {
    float: right;
    position: fixed;
    top: 10px;
    /* top: 10;             made my text at the center of the header */
    width: 100%;
}

nav li {
    display: inline-block;
    list-style: none;
}

nav li a {
    font-size: 25px;
    padding: 0px 30px;
    text-decoration: none;
}

li {
    display: block;
    float: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.nav-links {
    height: 100px;
    width: 100%;
    position: fixed;

}

/* --------------------------for the header of all pages-till here -------------------------------------*/
.header-profile h1 {
    text-align: left;
}

.header-text {
    text-align: center;
}

.container {
    padding: 8px 1.5%;

}

.container ul {
    font-size: 25px;
}

p {
    font-size: 18px;
}

nav ul li {
    margin: 35px 25px;
}

/* ---------------------second page on my profile page------------------------------- */
.about1 {
    width: 100%;
    padding: 100px 0px;
    background-color: beige;
}

.about1 img {
    height: auto;
    width: 450px;
    border-radius: 10%;
}

.about-text {
    width: 550px;
}

.container-blog {
    padding: 0;

}

.container-blog ul {
    font-size: 25px;
}

.container-blog ul {
    font-size: 25px;
}

.container-blog h1 {
    color: var(--titleText);
    text-shadow: rgb(248, 248, 255) 4px 2px;
    text-transform: capitalize;
    font-size: 35px;
    margin-left: 3%;

}

.bar-logo {
    display: grid;
    grid-template-columns: auto auto;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    height: 100px;
    background-color: beige;
    text-align: center;

}

.bar-logo img {
    margin: -50;
    margin-left: 90%;
    margin-top: -100;
    padding-top: 25px;
    width: 10%;
    height: 100px;

}

.bar-logo li a {
    font-size: 15px;
}

.about-blog h5 {
    color: blue;
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 25px;
    text-transform: capitalize;
    text-align: center;
}

.blog-img {
    text-align: center;
    margin-top: 10px;
}

.blog h1 {
    font-size: 25px;
    margin-top: 110px;
}

.blog-footer {
    margin-top: 25%;
}

.faq-footer {
    margin-top: 10%;
}

.swot-footer {
    margin-top: 0%;
}

/* //-------------------------------About Me------------------------------------------------// */

.container-about {
    padding: 0;

}

.container-about ul {
    font-size: 25px;
}

.container-about ul {
    font-size: 25px;
}

.container-about h1 {
    color: var(--titleText);
    text-shadow: rgb(248, 248, 255) 4px 2px;
    text-transform: capitalize;
    font-size: 35px;
    margin-left: 3%;

}

/* -----------------------------it was about header------------------------------------------------------ */

.about {
    width: 100%;
    padding: 100px 0px;
    background-color: beige;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2 {
    color: rgb(245, 136, 154);
    font-size: 75px;
    text-transform: capitalize;
    text-shadow: 2px 2px pink;
    margin-bottom: 20px;
    text-align: center;

}

.about-text h5 {
    color: black;
    text-shadow: white 2px 1px;
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 25px;
    text-transform: capitalize;
    text-align: center;

}

.about-text p {
    color: black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;

}

.about-text .read-btn {
    text-align: center;
}

.hidden-text {
    display: none;
}

button.swotbtn-aboutme {
    padding: 8px 15px;
    font-size: 15px;
    background-color:rgb(245, 136, 154);
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1.5px;
    margin-left: 35%;
    margin-top: 5%;
    border: none;
}

.swotbtn-aboutme a {
    text-decoration: none;
    color: #000;
    text-align: center;

}

.swotbtn-aboutme:hover {
    /* border: 2px solid silver; */
    background: lightblue;
    transition: 1s;
}

.swotbtn-aboutme:focus+.hidden-text {
    display: block;
}



.about img {
    height: auto;
    width: 450px;
    border-radius: 22%;
    margin-top: 50px;

}

/* ------------------footer------------------------------ */

footer {
    text-align: center;
    padding: 1%;
    background-image: linear-gradient(var(--primary), var(--secondary))
}

.footer-dash {
    margin-top: 3%;
}

.blog-footer {
    margin-bottom: 0px;
}


/* -------------------contact me-gonna do this later--------------------------- */

/* --------------BLOG-------------------- */

.container1-blog {
    width: 85%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 180px;

}

.mainblog {
    background-color: beige;
}

.container2-blog {
    width: 85%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 140px;
}

.cards {
    background-color: white;
    box-shadow: 0px 4px 8px 0px #666;
}

.image-section {
    height: 225px;
    background-color: pink;
}

.cards .img-one {
    background-image: url(Photos/blog1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cards .img-two {
    background-image: url(Photos/blog3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cards .img-three {
    background-image: url(Photos/blog2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cards .img-four {
    background-image: url(Photos/blog4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.cards .img-five {
    background-image: url(Photos/blog5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.cards .img-six {
    background-image: url(Photos/blog6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.content {
    padding: 15px 10px;
    text-align: center;

}

.content h2 {
    letter-spacing: 1.5px;
}

.content h2 {
    letter-spacing: 1.5px;
}

.content h3 {
    margin-top: 5px;
}

.content p {
    margin: 15px 0px;
    font-size: 15px;
}

.content a {
    text-decoration: none;
    font-size: 18px;
    color: #000;
    letter-spacing: 1.5px;
    display: inline-block;
    background-color: rgb(245, 136, 154);
    padding: 8px 15px;
    border-radius: 30px;
    font-weight: bold;

}

.content a:hover {
    background-color: lightblue;
    color: black;
    transition: 1s ease;
}

/* ----------------------------------------QA------------------------------------------------- */
.wrapper {
    max-width: 75%;
    margin: auto;
}

.wrapper>p,
.wrapper>h1 {
    margin: 1.5rem 0;
    text-align: center;
    margin-top: 150px;
}

.wrapper>h1 {
    letter-spacing: 3px;
}

.accordion {
    background-color: rgb(223, 251, 247);
    color: black;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
    padding: 2rem 2.5rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-top: 50px;
}

.accordion i {
    font-size: 1.6rem;
}

.active,
.accordion:hover {
    background-color: rgb(252, 252, 245);
}

.pannel {
    padding: 0 2rem 2.5rem 2rem;
    background-color: white;
    overflow: hidden;
    background-color: rgb(252, 252, 245);
    display: none;
}

.pannel p {
    color: black;
    font-size: 1.2rem;
    line-height: 1.4;
}

.faq {
    margin: 10px 0;
}

.faq.active {
    border: 1px solid black;
}

/* ------------------------------------------------dashboard---------------------------------------- */
.filter {

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: .7;

}

table {
    width: 70%;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(103, 103, 79);
    background: #ffffff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 140px;
    font-size: 20px;
}

/* ----------Progress Bar--------------- */
.progress-bar {
    width: 0px;
    height: 3%;
    background-color: #bae8e8;
    transition: width 0.3s ease-in-out;
    cursor: pointer;
    margin-top: 2%;
}

.progress-container {
    margin-left: 15%;
}

th {
    color: black;
    text-transform: uppercase;
    background-color: rgb(230, 239, 203);
}

th,
td {
    padding: 12px 15px;
    border-bottom: 1px solid #060606;
}

/* -------------------------------------------Study Choice----------------------------------- */

.container-choice {
    display: flex;
    justify-content: space-between;
    background-color: rgb(250, 240, 226);
}

.text-choice {
    flex: 1;
    padding: 20px;
    font-weight: bold;
    float: left;
}

.container-choice h1 {
    color: rgb(245, 136, 154);
    font-size: 75px;
    text-transform: capitalize;
    text-shadow: 2px 2px pink;
    font-size: 350%;
    margin-top: 8%;
    text-align: center;

}

.text-choice p {
    font-size: 25px;
    text-align: left;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    width: 50%;
    margin-top: 5%;
    float: left;
    margin-left: 5%;
    background-image: linear-gradient(var(--primary), var(--secondary));

}

.container-choice img {
    flex-wrap: wrap;
    max-width: 35%;
    margin-left: 10%;
    border-radius: 2% 35%;
    margin-top: 5%;
}

.firstwebsite {
    padding: 8px 15px;
    font-size: 15px;
    background-color: rgb(245, 136, 154);
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1.5px;
    border: none;
}

.firstwebsite a {
    text-decoration: none;
    color: #000;
    text-align: center;

}

.firstwebsite:hover {
    background:lightblue;
    transition: 1s;
}

/* --------------------programming experience----------------------------------------------- */
.container-blog1 {
    display: flex;
    justify-content: space-between;
    background-color: rgb(250, 240, 226);
}

.text-blog1 {
    flex: 1;
    padding: 20px;
    font-weight: bold;
    float: left;
}

.container-blog1 h1 {
    color: rgb(245, 136, 154);
    font-size: 75px;
    text-transform: capitalize;
    text-shadow: 2px 2px pink;
    font-size: 350%;
    margin-top: 8%;
    text-align: center;

}

.text-blog1 p {
    font-size: 25px;
    text-align: left;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    width: 50%;
    margin-top: 10%;
    float: left;
    background-image: linear-gradient(var(--primary), var(--secondary));

}

.container-blog1 img {
    flex-wrap: wrap;
    max-width: 50%;
    border-radius: 2% 35%;
    float: right;
    margin-top: 5%;
}

.firstwebsite {
    padding: 8px 15px;
    font-size: 15px;
    background-color:rgb(245, 136, 154);
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 230px;
    color: #000;
    letter-spacing: 1.5px;
    margin-top: 5%;
    float: left;
    border: none;
}

.firstwebsite a {
    text-decoration: none;
    color: #000;
    text-align: center;

}

.firstwebsite:hover {
    background: lightblue;
    transition: 1s;
}

/* -----------------------------ICT Field------------------------------------ */
.container-field {
    display: flex;
    justify-content: space-between;
    background-color: rgb(250, 240, 226);
}

.text-field {
    flex: 1;
    padding: 20px;
    font-weight: bold;
    float: left;
}

.container-field h1 {
    color: rgb(245, 136, 154);
    font-size: 75px;
    text-transform: capitalize;
    text-shadow: 2px 2px pink;
    font-size: 350%;
    margin-top: 8%;
    text-align: center;

}

.text-field p {
    font-size: 25px;
    text-align: left;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    width: 50%;
    margin-top: 5%;
    float: left;
    background-image: linear-gradient(var(--primary), var(--secondary));
}

.container-field img {
    flex-wrap: wrap;
    max-width: 35%;
    border-radius: 2%;
    float: right;
    margin-right: 7%;
    margin-top: 13%;
}

.container-field2 {
    display: flex;
    justify-content: space-between;
    background-color: rgb(250, 240, 226);
}

.text-field2 {
    flex: 1;
    padding: 20px;
    font-weight: bold;
    float: left;
}

.text-field2 p {
    font-size: 25px;
    text-align: left;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    width: 50%;
    margin-top: 5%;
    float: left;
    background-image: linear-gradient(var(--primary), var(--secondary));
}

.container-field2 img {
    flex-wrap: wrap;
    max-width: 35%;
    border-radius: 2%;
    float: right;
    margin-right: 7%;
    margin-top: 13%;

}

.container-field3 {
    display: flex;
    justify-content: space-between;
    background-color: rgb(250, 240, 226);
}

.text-field3 {
    flex: 1;
    padding: 20px;
    font-weight: bold;
    float: left;
}

.text-field3 p {
    font-size: 25px;
    text-align: left;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    width: 50%;
    margin-top: 5%;
    float: left;
    background-image: linear-gradient(var(--primary), var(--secondary));

}

.container-field3 img {
    flex-wrap: wrap;
    max-width: 35%;
    border-radius: 2%;
    float: right;
    margin-right: 7%;
    margin-top: 13%;
}

.goback {

    padding: 8px 15px;
    font-size: 15px;
    background-color: rgb(245, 136, 154);
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    letter-spacing: 1.5px;
    margin-top: 3%;
    margin-left: 30%;
    border: none;
}

.goback a {
    text-decoration: none;
    color: #000;
    text-align: center;

}

.goback:hover {
    background: lightblue;
    transition: 1s;
}

/* -----------------------------Swotanalyses-------------------------------- */
.swotanalyses {
    display: flex;
    background-color: rgb(250, 240, 226);
}

.swot-text h1 {
    text-align: center;
    margin-top: 8%;
    font-size: 250%;
    color: rgb(245, 136, 154);
    font-size: 75px;
    text-transform: capitalize;
    text-shadow: 2px 2px pink;
    font-size: 350%;

}

.swot-text p {
    font-size: 25px;

}

.swot-text1 {
    float: left;
    margin-top: 5%;
    /* font-size: 25px; */
    /* text-align: left; */
    padding: 30px;
    /* Add padding for spacing within the text bubble */
    border-radius: 10px;
    /* Rounded corners for the text bubble */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    /* Optional: Add a shadow for depth */
    width: 45%;
    background-image: linear-gradient(var(--primary), var(--secondary));
    /* margin-right: 10%; */
    margin-left: 3%;
}

.swot-text2 {
    float: right;
    margin-top: 5%;
    /* font-size: 45px; */
    text-align: left;
    padding: 20px;
    /* Add padding for spacing within the text bubble */
    border-radius: 10px;
    /* Rounded corners for the text bubble */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    /* Optional: Add a shadow for depth */
    width: 45%;
    background-image: linear-gradient(var(--primary), var(--secondary));
    /* margin-right: 10%; */
    margin-right: 3%;

}

.swot-text3 {
    float: left;
    margin-top: 7%;
    /* font-size: 25px; */
    /* text-align: left; */
    padding: 35px;
    /* Add padding for spacing within the text bubble */
    border-radius: 10px;
    /* Rounded corners for the text bubble */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    /* Optional: Add a shadow for depth */
    width: 45%;
    background-image: linear-gradient(var(--primary), var(--secondary));
    /* margin-right: 10%; */
    margin-left: 3%;


}

.swot-text4 {
    float: right;
    margin-top: 6.5%;
    /* font-size: 45px; */
    text-align: left;
    padding: 20px;
    /* Add padding for spacing within the text bubble */
    border-radius: 10px;
    /* Rounded corners for the text bubble */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    /* Optional: Add a shadow for depth */
    width: 45%;
    background-image: linear-gradient(var(--primary), var(--secondary));
    /* margin-right: 10%; */
    /* margin-bottom: 50%; */
    margin-right: 3%;
}

.swot-img {
    display: flex;
    /* max-width: 20%; */
    background-color: rgb(250, 240, 226);

}

.swot-img img {
    max-width: 17%;
    text-align: center;
    margin-left: 12%;
    width: auto;
    margin-top: 8%;
    margin-bottom: 5%;
    border-radius: 2%;
    border: 8px solid rgb(245, 136, 154);

}

button.swotbtn {
    padding: 8px 15px;
    font-size: 15px;
    /* background-color: rgb(230, 191, 219); */
    cursor: pointer;
    background-color: rgb(245, 136, 154);
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1.5px;
    margin-left: 29%;
    margin-top: 5%;
    border: none;
}

.swotbtn a {
    text-decoration: none;
    color: #000;
    text-align: center;

}

.swotbtn:hover {
    /* border: 2px solid silver; */
    background: lightblue;
    transition: 1s;
}

button.swotbtn-strengh {
    padding: 8px 15px;
    font-size: 15px;
   background-color: rgb(245, 136, 154);
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1.5px;
    margin-left: 27%;
    margin-top: 6%;
    border: none;
}

.swotbtn-strengh a {
    text-decoration: none;
    color: #000;
    text-align: center;

}

.swotbtn-strengh:hover {
    background: lightblue;
    transition: 1s;
}

button.swotbtn-weekness {
    padding: 8px 15px;
    font-size: 15px;
    background-color: rgb(245, 136, 154);
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1.5px;
    margin-left: 27%;
    margin-top: 5%;
    border: none;
}

.swotbtn-weekness a {
    text-decoration: none;
    color: #000;
    text-align: center;

}

.swotbtn-weekness:hover {
    /* border: 2px solid silver; */
    background: lightblue;
    transition: 1s;
}

/* -------------------------------INTERESTING FACTS ----------------------------- */
.facts-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10%;
}

.img-container {
    text-align: center;
    margin-top: 70px;
    gap: 10px;
}

.img-container p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.facts-img .img-container img {
    width: 55%;
    max-width: none;
    height: auto;
    border-radius: 2%;
    border: 8px solid rgb(245, 136, 154);
}

.facts-text {
    text-align: center;
    margin-top: 8%;
    font-size: 250%;
    color: rgb(245, 136, 154);
    font-size: 85px;
    text-transform: capitalize;
    text-shadow: 2px 2px pink;
    font-size: 85px;

}

.facts-button {
    text-decoration: none;
    font-size: 18px;
    color: #000;
    letter-spacing: 1.5px;
    display: inline-block;
    /* background-color: rgb(230, 191, 219); */
    background-color: rgb(245, 136, 154);
    padding: 8px 15px;
    border-radius: 30px;
    font-weight: bold;
    border: none;
}

.facts-button a {
    text-decoration: none;
    color: #000;
    text-align: center;

}

.facts-button:hover {
    background:lightblue;
    transition: 1s;
}